/* HEADER BASE */
.else-header {
  position: relative;
  height: 200px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 14px;
}

/* FONDO AZUL CON CORTE */
.else-blue-section {
  position: absolute;
  inset: 0;
  background-color: #0046a4;
  clip-path: polygon(32% 0, 100% 0, 100% 100%, 12% 145%);
  z-index: 1;
}

/* LOGO */
.else-logo {
  position: absolute;
  top: 26px;
  left: 39px;
  width: 260px;
  z-index: 3;
}

/* TITULO */
.else-title {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  z-index: 3;
}

/* ===== ONDA INFERIOR ===== */
.else-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, #0046a4 36%, #ffffff 50%);
  z-index: 2;
}

/* LINEA AMARILLA */
.else-yellow-line {
  position: absolute;
  top: 34%;
  width: 100%;
  height: 10px;
  background-color: #ffc107;
  transform: skewY(-2deg);
}

/* LINEA AZUL */
.else-blue-line {
  position: absolute;
  top: 52%;
  width: 100%;
  height: 15px;
  background-color: #003d8f;
  transform: skewY(-3deg);
}
